.header
{
    background-color: #87ceeb;
    height: 10%;
    width: 100%;
}

h1
{
    color: #fffdd0;
    text-align: center;
}

body
{
    margin: 0;
    background-color: #f1f1f1;
}

button
{
    display: inline-block;
    color: red;
}